@import url('https://fonts.googleapis.com/css2?family=Piazzolla:opsz,wght@8..30,200;8..30,300;8..30,400&family=Quintessential&family=Yeon+Sung&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    /* background-color: #f5f5f5; */
    font-family: 'Piazzolla', serif;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0rem auto;
    width: 100vw;
    height: 100vh;
    
}
.card{
    /* border: 2px solid #f5f5f5; */
    background-color: #E4F9F5;
    box-shadow: 7px 7px 6px -6px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30vw;
    height: 65%;
    align-self:center ;
    
}
.imgDiv{
    width: 50%;
      border-radius: 50%;
      /* object-fit: cover; */
      flex-grow: 1;
      margin-top: 0.8rem;
}
#clock{
  margin: 1rem 1.8rem ;
}
.formCls{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-top: 3rem; */
    flex-grow: 1;
}
.heading{
    margin: 1rem auto;
    flex-grow: 1;
    color: #2C3639;
}

#alarmTxt{
    border: 2px solid black;
    width: 19rem;
    height: 1.8rem;
    border-radius: 4px;
}
.btn{
    width: 7rem;
    height: 2.5rem;
    background-color: gray;
    margin-top: 1rem;
    border-radius: 19px;
    color: white;
    border: 2px solid gray;
    box-shadow: 0px 8px 6px -6px #000;
    font-size: 1rem;
}
.btn:hover{
    color: blue;
}


/* =========================================================================== */
@media(max-width:1280px){
    .main{
      height: 100vh;
    }
    .card{
      width: 46vw;
    }
  }
@media(max-width:820px){
  .main{
    height: 100vh;
  }
  .card{
    width: 70vw;
  }
}

@media(max-width:480px){
    .main{
        height: 100vh;
      }
      .card{
        width: 90vw;
      }
}